
<h1>Рєпін Ілля Юхимович</h1>
<div>
    <h2>1844, 5 серпня у Чугуєві на Харківщині народився знаменитий художник Рєпін Ілля Юхимович</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Ilya_Repin_%281909%29.jpg/410px-Ilya_Repin_%281909%29.jpg"></img>
    <p>Батько художника походив із козацького роду на прізвисько Ріпа. Відслуживши 27 років, він  вийшов у відставку і одружився з Тетяною Бочаровою, теж із родини військових поселенців, 
        і зайнявся розведенням племінних коней. Родина була досить заможною. Бабуся художника тримала постоялий двір.</p>
    <p>Малювати Ілля почав ще змалку. Перші уроки малювання давав двоюрідний брат Трохим Чапигін. Пізніше хлопця віддали на навчання в корпус топографів, згодом пішов учитися іконопису в майстерню Бунакових, підробляв розписуванням храмів.</p>
    <p>У 1863 р. Рєпін вирушає підкорювати Санкт-Петербург, фарбує дахи, екіпажі, навіть відра. Паралельно вступає до малювальної школи Товариства заохочування художників, де на талановитого юнака звертає увагу художник Крамской. З другої спроби Рєпін вступає до петербурзької Академії мистецтв, яку закінчує, отримавши золоту медаль, шість років стажується в Парижі.</p>
    <p>Попри те, що Ілля Рєпін став частиною культурного світу Російської імперії, зв’язків із Україною він ніколи не поривав, лишивши на згадку цілу серію картин на українську тематику. Найвідоміша з них – «Запорожці» - написана під впливом відомого дослідника історії козацтва Дмитра Яворницького, з яким художник тісно приятелював. Його ж Рєпін і зобразив у центрі композиції в образі писаря. На отримані від картини кошти Рєпін купив собі маєток під Петербургом, де й прожив до кінця життя.</p>
    <p>Рєпін намагався підтримувати Україну не лише творчо. У 1915 р. художник  відвідав Чугуїв, маючи намір створити в рідному місті «Діловий двір» — вільні художні майстерні. Також він допомагав Спілці образотворчих мистецтв ім. В. Верещагіна в м. Миколаєві, був поважним членом Київської літературно-артистичної спілки, Київської спілки старовини й мистецтва. Його учнями були українські художники Фотій Красицький (онук Тараса Шевченка), Олександр Мурашко, Микола Пимоненко, Семен Прохоров, Ігор Грабар, Никанор Онацький, Іван Макушенко та інші.</p>
    <p>В останні дні свого життя Рєпін працював над полотнами «Зустріч гетьмана» та «Козак-бандурист із хлопчиком-джурою». У 1926 р. Рєпін задумав картину «Гопак» і до останнього мріяв про її завершення. Як згадують очевидці, навіть на порозі смерті Рєпін у забутті безперестанку водив рукою (лівою — права давно відмовила), вважаючи, що працює над своєю останньою, «красивою, веселою» картиною, про яку раніше писав у листі Яворницькому: «Навіть столітній дід навприсядки пішов. Підвипили, скачуть… Довкола веселий пейзаж: який і був…».</p>
    <p>Помер Ілля Рєпін 30 вересня 1930 р. За заповітом художника, його поховали без труни в парку його садиби «Пенати». Після розпаду Російської імперії могила художника опинилася на території Фінляндії у м.Куоккала.</p>

</div>

