<h1>Портрети роботи Рєпіна</h1>
<div class="container text-center">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/%D0%98%D0%BB%D1%8C%D1%8F_%D0%95._%D0%A0%D0%B5%D0%BF%D0%B8%D0%BD_-_%D0%9E%D1%82%D0%B4%D1%8B%D1%85._%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%92.%D0%90.%D0%A0%D0%B5%D0%BF%D0%B8%D0%BD%D0%B0_%281882%29.jpg/186px-%D0%98%D0%BB%D1%8C%D1%8F_%D0%95._%D0%A0%D0%B5%D0%BF%D0%B8%D0%BD_-_%D0%9E%D1%82%D0%B4%D1%8B%D1%85._%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%92.%D0%90.%D0%A0%D0%B5%D0%BF%D0%B8%D0%BD%D0%B0_%281882%29.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Відпочинок. Портрет В. А. Репиной, дружини художника», 1882</figcaption>
            </figure>
        </div>
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Repin_bouquet.jpg/179px-Repin_bouquet.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Осінній букет», 1892</figcaption>
            </figure>
        </div>
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/%D0%A0%D0%B5%D0%BF%D0%B8%D0%BD._%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%BA%D0%B0_%D1%83_%D0%BF%D0%BB%D0%B5%D1%82%D0%BD%D1%8F.jpg/240px-%D0%A0%D0%B5%D0%BF%D0%B8%D0%BD._%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%BA%D0%B0_%D1%83_%D0%BF%D0%BB%D0%B5%D1%82%D0%BD%D1%8F.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Українка біля тину», 1876</figcaption>
            </figure>
        </div>
    </div>
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4"><figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D0%BE%D0%B6%D1%81%D0%BA%D0%B8%D0%B9_%D0%BF%D0%BE%D0%BB%D0%BA%D0%BE%D0%B2%D0%BD%D0%B8%D0%BA_-_%D1%80%D0%B5%D0%BF%D0%B8%D0%BD.jpg/159px-%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D0%BE%D0%B6%D1%81%D0%BA%D0%B8%D0%B9_%D0%BF%D0%BE%D0%BB%D0%BA%D0%BE%D0%B2%D0%BD%D0%B8%D0%BA_-_%D1%80%D0%B5%D0%BF%D0%B8%D0%BD.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Запорізький полковник», 1880</figcaption>
</figure>
</div>
        <div class="col-6 col-md-4"><figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Nikolay_II_of_Russia_by_I.Repin_%281896%2C_GIM%29.jpg/132px-Nikolay_II_of_Russia_by_I.Repin_%281896%2C_GIM%29.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Портрет Миколи II», 1896</figcaption>
</figure>
</div>
        <div class="col-6 col-md-4"><figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/%D0%86%D0%BB%D0%BB%D1%8F_%D0%A0%D1%94%D0%BF%D1%96%D0%BD._%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%A2%D0%B0%D1%80%D0%B0%D1%81%D0%B0_%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%B0.jpeg/214px-%D0%86%D0%BB%D0%BB%D1%8F_%D0%A0%D1%94%D0%BF%D1%96%D0%BD._%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%A2%D0%B0%D1%80%D0%B0%D1%81%D0%B0_%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%B0.jpeg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Портрет Тараса Шевченка», 1888</figcaption>
</figure>
</div>
    </div>

</div>
