<h1>Релігійні композиції</h1>
<div class="container text-center">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Ilja_Jefimowitsch_Repin_013.jpg/300px-Ilja_Jefimowitsch_Repin_013.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Христос воскрешає доньку Іаіра», 1871, Державний Російський музей, Санкт-Петербург</figcaption>
            </figure>
        </div>
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Ilya_Repin_St_Nicholas_Kharkov.jpg/235px-Ilya_Repin_St_Nicholas_Kharkov.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Микола Мирлікійський звільняє від смертної кари трьох невинно засуджених». Варіант картини, 1890, Харківський художній музей</figcaption>
            </figure>
        </div>
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/%D0%A0%D1%94%D0%BF%D1%96%D0%BD_%D0%86.%D0%AE._%D0%A5%D1%80%D0%B8%D1%81%D1%82%D0%BE%D1%81_%D1%83_%D0%93%D0%B5%D1%82%D1%81%D0%B8%D0%BC%D0%B0%D0%BD%D1%81%D1%8C%D0%BA%D0%BE%D0%BC%D1%83_%D1%81%D0%B0%D0%B4%D1%83._%D0%9A%D1%96%D0%BD%D0%B5%D1%86%D1%8C_1880-%D1%85.jpg/300px-%D0%A0%D1%94%D0%BF%D1%96%D0%BD_%D0%86.%D0%AE._%D0%A5%D1%80%D0%B8%D1%81%D1%82%D0%BE%D1%81_%D1%83_%D0%93%D0%B5%D1%82%D1%81%D0%B8%D0%BC%D0%B0%D0%BD%D1%81%D1%8C%D0%BA%D0%BE%D0%BC%D1%83_%D1%81%D0%B0%D0%B4%D1%83._%D0%9A%D1%96%D0%BD%D0%B5%D1%86%D1%8C_1880-%D1%85.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Христос у Гетсиманському саду». Кінець 1880-х</figcaption>
            </figure>
        </div>
    </div>
    <im
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4"><figure class="figure">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Golgotha_by_Repin.jpg/246px-Golgotha_by_Repin.jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption text-end">«Голгофа», бл. 1922, США, Принстон, Університетська галерея мистецтв</figcaption>
</figure>
</div>
        <div class="col-6 col-md-4"><figure class="figure">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Job_and_his_friends.jpg/300px-Job_and_his_friends.jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption text-end">«Йов Багатостраждальний та його друзі», Державний Російський музей, Санкт-Петербург</figcaption>
</figure>
</div>
        <div class="col-6 col-md-4"><figure class="figure">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Ilja_Jefimowitsch_Repin_-_Saint_Nicholas_of_Myra_saves_three_innocents_from_death.jpg/286px-Ilja_Jefimowitsch_Repin_-_Saint_Nicholas_of_Myra_saves_three_innocents_from_death.jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption text-end">«Микола Мирлікійський звільняє від смертної кари трьох невинно засуджених». 1888, Державний Російський музей, Санкт-Петербург</figcaption>
</figure>
</div>
    </div>

</div>
