<h1>Обрані твори</h1>
<div class="container text-center">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Reply_of_the_Zaporozhian_Cossacks_%28sketch%2C_1893%2C_Kharkiv%29.jpg/300px-Reply_of_the_Zaporozhian_Cossacks_%28sketch%2C_1893%2C_Kharkiv%29.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Запорожці пишуть листа турецькому султану», 1893, Харківський художній музей</figcaption>
            </figure>
        </div>
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Ilya_Repin_-_Barge_Haulers_on_the_Volga_-_Google_Art_Project.jpg/300px-Ilya_Repin_-_Barge_Haulers_on_the_Volga_-_Google_Art_Project.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">
                    Бурлаки на Волзі (картина), 1872-1873, Державний Російський музей, Петербург
                </figcaption>
            </figure>
        </div>
        <div class="col-6 col-md-4">
            <figure class="figure">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Ilya_Repin_-_%D0%9A%D1%80%D0%B5%D1%81%D1%82%D0%BD%D1%8B%D0%B9_%D1%85%D0%BE%D0%B4_%D0%B2_%D0%9A%D1%83%D1%80%D1%81%D0%BA%D0%BE%D0%B9_%D0%B3%D1%83%D0%B1%D0%B5%D1%80%D0%BD%D0%B8%D0%B8_-_Google_Art_Project.jpg/300px-Ilya_Repin_-_%D0%9A%D1%80%D0%B5%D1%81%D1%82%D0%BD%D1%8B%D0%B9_%D1%85%D0%BE%D0%B4_%D0%B2_%D0%9A%D1%83%D1%80%D1%81%D0%BA%D0%BE%D0%B9_%D0%B3%D1%83%D0%B1%D0%B5%D1%80%D0%BD%D0%B8%D0%B8_-_Google_Art_Project.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">«Хресна хода в Курській губернії», (1880–1883)</figcaption>
            </figure>
        </div>
    </div>
</div>
